build.conf
archlinux-rpi5-aarch64.img
archlinux-rpi5-aarch64-*.img.xz
archlinux-rpi5-aarch64-*.img.xz.sha256
archlinux-qemu-aarch64.img
archlinux-qemu-aarch64-*.img.xz
archlinux-qemu-aarch64-*.img.xz.sha256
dist/
