[Unit]
Description=Complete first boot provisioning
After=systemd-firstboot.service systemd-homed.service
Wants=systemd-homed.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/rpi5-archlinux/firstboot.sh
RemainAfterExit=yes
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
